.privacy {
    width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* Evita cortes */
}

h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.privacy-item {
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
}

/* Responsivo */
@media (max-width: 600px) {
    .privacy {
        padding: 10px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}
